.hidden {
  visibility: hidden;
}


.visible{
    visibility: visible;
}

.errorMessageSpace
{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.text-input {
  width: 20em;
  min-width: 15em;
}

.tags {
  margin-top: 0.5em;
}

.description {
  max-width: 50em;
}

.label-wrapper {
  margin-bottom: 0.5em;
}
