<div fxLayout="row" fxLayoutGap="1em">
  <sw-search-filter></sw-search-filter>
  <sw-action-buttons [hasAdd]="true" [hasEdit]="true" [hasRemove]="true"></sw-action-buttons>
</div>

<table class="ui celled table unstackable">
  <thead>
    <tr>
      <th class="collapsing name">Name</th>
      <th class="collapsing version">Version</th>
      <th class="right aligned">
        <input type="checkbox" [(ngModel)]="areAllSelected" [checked]="areAllSelected" (click)="selectAll()">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of projects | async">
      <td class="collapsing hover" (click)="go(c.name)">{{ c.name }}</td>
      <td class="collapsing hover" (click)="go(c.name)">asdasd</td>
      <td class="right aligned">
        <input type="checkbox" (click)=selectOne(c.version) [checked]="areAllSelected">
      </td>
    </tr>
  </tbody>

  <!-- TODO: hardcoded length condition -->
  <tfoot *ngIf="(projects | async).length > 15">
    <tr>
      <th colspan="200">
        <div fxLayout="row">
          <div class="ui pagination menu">

            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>

        </div>

      </th>
    </tr>
  </tfoot>

</table>