@import '~styles/toolkit';

$max-content-width: 1280px;
$width-960: 960px;

$top-bar-height: 5em;
$footer-height: 2em;

.wrapper {
  width: 100%;
  min-height: 100vh;
  // background: green;
}

.top-bar {
  background: $color-coolblue;
  width: 100%;
  height: $top-bar-height;

}

.top-bar-content {
	max-width: $max-content-width;
	width: 100%;
	height: 100%;
	padding: 0 1em;
}

sw-brand {
  width: 150px;
}

sw-content {
	width: 100%;
	max-width: $max-content-width;
	padding: 1em;
}



.footer {
  background: $color-coolblue;
  width: 100%;
  height: $footer-height;
}

.footer-content {
  max-width: $max-content-width;
  // background: red;
  height: 100%;
}

sw-footer {
  width: 100%;
}

@media (max-width: 1279px) {
  .top-bar-content {
    //width: $width-960;
  }
  .content {
    //width: $width-960;
  }
  .footer-content {
    //width: $width-960;
  }
}

// TODO:
// table scale behavior!!!
