<div class="all" fxLayout="column" fxLayoutAlign="start center">
  
  <div class="top-bar" fxLayout="row" fxLayoutAlign="center start">
    <div class="top-bar-content" fxLayout="row">
      <sw-brand></sw-brand>
      <sw-top-bar></sw-top-bar>
    </div>
  </div>

  <div class="content" fxFlex>
    <sw-content></sw-content>
  </div>
  
  <div class="footer" fxLayout="row" fxLayoutAlign="center start" fxFlexAlign="end">
    <div class="footer-content">
      <sw-footer></sw-footer>
    </div>
  </div>

</div>

