@import '~styles/toolkit';

.wrapper {
  min-width: 768px;
  width: 100%;
  min-height: 100vh;
}

$max-content-width: 1280px;
$width-960: 960px;

$top-bar-height: 5em;
$footer-height: 2em;

.top-bar-wrapper {
  background: $color-coolblue;
  width: 100%;
  height: $top-bar-height;
}

.top-bar{
	max-width: $max-content-width;
	margin: auto;
	height: 100%;
	padding: 0 1em;
}

// sw-brand {
//   width: 150px;
// }

$topbar-color: rgba(226, 236, 240, 0.4);
// $topbar-color: rgba(216, 225, 228, 0.4);


.info-bar-wrapper {
  width: 100%;
  height: $top-bar-height;
  background: $topbar-color;
  padding: 0 1em;
}

sw-info-bar {
	max-width: $max-content-width;
	margin: auto;
}

.content-wrapper {
	width: 100%;
}

sw-content /deep/ .main-content {
	max-width: $max-content-width;
	margin: 0 auto;
	padding: 1.25em 0;
}

sw-content /deep/ .tab-navigation-wrapper {
	background: $topbar-color;
}

sw-content /deep/ sw-tab-navigation {
	max-width: $max-content-width;
	margin: auto;
}

.footer-wrapper {
  width: 100%;
  height: $footer-height;
  background: $color-coolblue;
}

sw-footer {
  max-width: $max-content-width;
}

// TODO:
// table scale behavior!!!
