@import '~styles/toolkit';

.wrapper {
  min-width: 768px;
  min-height: 100vh;
//   max-width: calc(100vw - 1em);
  width: 100%;

}

$max-content-width: 1280px;
$width-960: 960px;

$top-bar-height: 5em;
$footer-height: 2em;

.top-bar-wrapper {
  background: $color-coolblue;
  width: 100%;
  height: $top-bar-height;
}

.top-bar{
	max-width: $max-content-width;
	margin: auto;
	height: 100%;
	padding: 0 1em;
}

// sw-brand {
//   width: 150px;
// }

.info-bar-wrapper {
  width: 100%;
  height: $top-bar-height;
  background: $topbar-color;
  padding: 0 1em;
}

sw-info-bar {
	max-width: $max-content-width;
	margin: auto;
}

.content-wrapper {
	width: 100%;
	padding: 1em;
	overflow: hidden;
}

sw-content {
	max-width: $max-content-width;
	margin: 0 auto;
}

.footer-wrapper {
  width: 100%;
  height: $footer-height;
  background: $color-coolblue;
}

sw-footer {
  max-width: $max-content-width;
}

// TODO:
// table scale behavior!!!
