<div class="ui vertical tabular menu">
	<a class="item" routerLink="Overview" routerLinkActive="active">Overview</a>
	<a class="item" routerLink="Projects" routerLinkActive="active">Projects</a>
	<a class="item" routerLink="comps" routerLinkActive="active">Components</a>
	<a class="item" routerLink="Licences" routerLinkActive="active">Licences</a>
	<a class="item" routerLink="ECC" routerLinkActive="active">ECC</a>
	<a class="item" routerLink="pizza" routerLinkActive="active">Vulnerabilities</a>
	<a class="item" routerLink="semantic" routerLinkActive="active">Search</a>
	<a class="item" routerLink="rxjs" routerLinkActive="active">About</a>
</div>
