<div class="host">

  <h1>Welcome to ngrx Pizza!</h1>

  <!-- Create -->
  <button class="ui button positive create" (click)="createPizza()">CREATE new Pizza</button>

  <div class="pizzas">
    <div *ngFor="let pizza of pizzas | async" class="pizza">

      <img src="./assets/pizza.jpg" width="200px">

      <h3>Pizza ID: {{ pizza.id }}</h3>
      <p> Size:     {{ pizza.size }}</p>

      <!-- Update -->
      <button class="ui basic button" *ngIf="pizza.size==='small'" (click)="updatePizza(pizza.id, 'large')">Upgrade to Large</button>
      <button class="ui basic button" *ngIf="pizza.size==='large'" (click)="updatePizza(pizza.id, 'small')">Downgrade to Small</button>

      <button class="ui basic button negative" (click)="deletePizza(pizza.id)">DELETE</button>

    </div>
  </div>

</div>