<!-- Releases  -->
<div class="ui card">
	<div class="extra content" [routerLink]="'releases'">
		<a class="color-blue">
			<i class="clone icon"></i>{{ releases?.length }}&nbsp;&nbsp;Releases
		</a>
	</div>
	<div class="content list">
		<table class="ui very basic table">
			<thead>
				<tr>
					<th>Name</th>
					<th class="right aligned">Version</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let release of releases">
					<td>
						<div class="name">{{ release?.name }}</div>
						<div class="state green">{{ release?.clearingState }}</div>
					</td>
					<td>
						<div class="right aligned">{{ release?.version }}</div>
					</td>
				</tr>

				<tr class="last-item">
					<td colspan="3">
						<a class="load-more-dots coolblue" [routerLink]="'releases'">···</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
