<!-- Item Summary -->
<div class="ui card">
	<div class="content">
		<a class="header color-blue">Apache Component</a>
		<div class="meta">
			<span class="date">Created by: &nbsp;
				<a href="#">Peter Parado</a>
			</span>
			<span class="date">Created on: &nbsp; 03. Sep 2014</span>
			<span class="date">Component Type: &nbsp; Irgendwas</span>
		</div>
	</div>
	<div class="extra content link-list" fxLayout="row" fxLayoutAlign="space-between center">
		<a>
			<i class="html5 icon"></i>
			<span class="date">Web</span>
		</a>
		<a>
			<i class="github icon"></i>
			<span class="date">Repo</span>
		</a>
		<a>
			<i class="wikipedia icon"></i>
			<span class="date">Wiki</span>
		</a>

	</div>
</div>

<!-- Nice State  -->
<!-- <div class="ui orange card nice-state">
	<div class="nice-states" fxLayout="horizontal">
		<div class="single-state" fxFlex="35%">
			<span>0&thinsp;|&thinsp;</span>
			<span class="secondary-value">5</span>
			<i class="ui icon checkmark"></i>
			<p>Clearings</p>
		</div>
		<div class="single-state" fxFlex="40%">
			<span>0&thinsp;|&thinsp;</span>
			<span class="secondary-value">3</span>
			<i class="ui icon checkmark"></i>
			<p>Vulnerabilities</p>
		</div>
		<div class="single-state" fxFlex="25%">
			<span>2&thinsp;|&thinsp;</span>
			<span class="secondary-value">0</span>
			<i class="ui icon warning"></i>
			<p>ECC</p>
		</div>
	</div>
</div> -->


<!-- Action Buttons  -->
<!-- <div class="ui card" fxLayout="row">
	<div class="ui buttons">
		<button class="ui button green">
			<i class="plus icon"></i>
			Create
		</button>
		<button class="ui disabled button">
			<i class="write icon"></i>
			Edit
		</button>
		<button class="ui disabled button">
			<i class="trash outline icon"></i>
			Delete
		</button>
	</div>
</div> -->

<!-- Releases  -->
<div class="ui card">
	<div class="extra content">
		<a class="color-blue">
			<i class="clone icon"></i>
			17&nbsp;&nbsp;Releases
		</a>
	</div>
	<div class="content list">
		<table class="ui very basic table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Version</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>commons-math</td>
					<td>3.1.2</td>
					<td class="color-red">New</td>
				</tr>
				<tr>
					<td>commons-math</td>
					<td>3.0.0</td>
					<td class="color-red">New</td>
				</tr>
				<tr>
					<td>commons-math</td>
					<td>2.8.9</td>
					<td class="color-green">Cleared</td>
				</tr>
				<tr class="last-item">
					<td></td>
					<td>
						<a class="load-more-dots">···</a>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Vulnerabilties -->
<!-- <div class="ui card">
	<div class="extra content">
		<a class="color-blue">
			<i class="warning sign icon"></i>
			<span>4</span>|<span >2</span>
			&nbsp;&nbsp;Vulnerabilities
		</a>
	</div>
</div> -->

<!-- <div class="ui success message">
	<i class="close icon"></i>
	<div class="header">
		Your user registration was successful.
	</div>
	<p>You may now log-in with the username you have chosen</p>
</div>

<div class="ui negative message">
	<i class="close icon"></i>
	<div class="header">
		We're sorry we can't apply that discount
	</div>
	<p>That offer has expired
	</p>
</div> -->
