<div class="ui card">
	<div class="content">
		<a class="header color-blue">Apache Component</a>
		<div class="meta">
			<span class="date">Release Date: &nbsp; Sep 2014</span>
			<span class="date">Component Type: &nbsp; Irgendwas</span>
			<span class="date">Created by: &nbsp;
				<a href="#">Peter Parado</a>
			</span>
		</div>
	</div>
	<div class="extra content link-list">
		<a>
			<i class="html5 icon"></i>
			<span class="date">Homepage</span>
		</a>
		<a>
			<i class="github icon"></i>
			<span class="date">Repository</span>
		</a>
		<a>
			<i class="wikipedia icon"></i>
			<span class="date">Wiki</span>
		</a>

	</div>
</div>
<div class="ui card" fxLayout="row">
	<div class="ui buttons">
		<button class="ui button green">
			<i class="plus icon"></i>
			Create
		</button>
		<button class="ui disabled button">
			<i class="write icon"></i>
			Edit
		</button>
		<button class="ui disabled button">
			<i class="trash outline icon"></i>
			Delete
		</button>
	</div>
</div>
<div class="ui card">
	<div class="extra content">
		<a class="color-blue">
			<i class="clone icon"></i>
			17&nbsp;&nbsp;Releases
		</a>
	</div>
	<div class="content list">
		<table class="ui very basic table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Version</th>
						<th>State</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>commons-math</td>
						<td>3.1.2</td>
						<td class="color-red">New</td>
					</tr>
					<tr>
						<td>commons-math</td>
						<td>3.0.0</td>
						<td class="color-red">New</td>
					</tr>
					<tr>
						<td>commons-math</td>
						<td>2.8.9</td>
						<td class="color-green">Cleared</td>
					</tr>
					<tr class="last-item">
						<td></td>
						<td><a class="load-more-dots">···</a></td>
						<td></td>
					</tr>
				</tbody>
			</table>
	</div>

</div>
<div class="ui card">
	<div class="extra content">
		<a class="color-blue">
			<i class="warning sign icon"></i>
			<span>4</span>|<span >2</span>
			&nbsp;&nbsp;Vulnerabilities
		</a>
	</div>
</div>

