<!-- Item Summary -->
<div class="ui card">
	<div class="content">
		<a class="header color-blue">Apache Component</a>
		<div class="meta">
			<div><span>Component Type:</span><span>Irgendwas</span></div>
			<div><span>Created by:</span><span><a href="#">Peter Parado</a></span></div>
			<div><span>Created on:</span><span>03. Sep 2014</span></div>
		</div>
	</div>
	<div class="extra content link-list" fxLayout="row" fxLayoutAlign="space-between center">
		<a>
			<i class="html5 icon"></i>
			<span class="date">Web</span>
		</a>
		<a>
			<i class="wikipedia icon"></i>
			<span class="date">Wiki</span>
		</a>
		<a>
			<i class="github icon"></i>
			<span class="date">Repository</span>
		</a>


	</div>
</div>

<sw-releases-widget></sw-releases-widget>

<!-- Nice State  -->
<!-- <div class="ui orange card nice-state">
	<div class="nice-states" fxLayout="horizontal">
		<div class="single-state" fxFlex="35%">
			<span>0&thinsp;|&thinsp;</span>
			<span class="secondary-value">5</span>
			<i class="ui icon checkmark"></i>
			<p>Clearings</p>
		</div>
		<div class="single-state" fxFlex="40%">
			<span>0&thinsp;|&thinsp;</span>
			<span class="secondary-value">3</span>
			<i class="ui icon checkmark"></i>
			<p>Vulnerabilities</p>
		</div>
		<div class="single-state" fxFlex="25%">
			<span>2&thinsp;|&thinsp;</span>
			<span class="secondary-value">0</span>
			<i class="ui icon warning"></i>
			<p>ECC</p>
		</div>
	</div>
</div> -->


<!-- Vulnerabilties -->
<!-- <div class="ui card">
	<div class="extra content">
		<a class="color-blue">
			<i class="warning sign icon"></i>
			<span>4</span>|<span >2</span>
			&nbsp;&nbsp;Vulnerabilities
		</a>
	</div>
</div> -->
