<div class="sw-content-top" fxLayout="row" fxLayoutAlign="space-between center">

	<button class="ui basic button edit">
		<i class="icon edit"></i>Subscribe
	</button>

	<button class="ui basic button edit">
		<i class="icon edit"></i>
		Edit
	</button>

</div>

<div fxLayout="row" fxLayoutGap="0.7em">
	<div fxFlex>
		<table class="ui celled striped table unstackable">
			<tr>
				<!-- fxHide.gt-md -->
				<td>Clearing State</td>
				<td>New</td>
			</tr>
			<tr>
				<td>Binaries Original from Community:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Binaries Self-Made:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Component License Information:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Source Code Delivery:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Source Code Original from Community:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Source Code Tool-Made:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Source Code Self-Made:</td>
				<td>No</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table class="ui celled striped table unstackable">
			<tr>
				<td>Screenshot of Website:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Finalized Scan Report:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>License Scan Report Result:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Legal Evaluation:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>License Agreement:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Scanned:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Component Clearing Report:</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Clearing Standard:</td>
				<td>No</td>
			</tr>
		</table>
	</div>
</div>
