@import '~styles/toolkit';

:host {
	display: flex;
	flex-direction: column;
}

.meta {
	font-size: 1.1em;
}

.link-list {
	position: absolute;
	right: 2em;
	bottom: 1.5em;
}

.link-list a {
	margin-left: 1em;
}

.top-heading {
	margin: 0.5em 0 0.75em 0;
}

.table td:first-of-type {
	width: 12em;
}


