<form class="ui form" [formGroup]="form" novalidate>
  
  <!-- First name -->
  <div class="field">
    <label>First Name</label>
    <input type="text" placeholder="First Name" formControlName="firstName">
  </div>

  <!-- Last name -->
  <div class="field">
    <label>Last Name</label>
    <input type="text" placeholder="Last Name" formControlName="lastName">
  </div>

  <!-- Regexp -->
  <div class="field">
    <label>RegExp</label>
    <input type="text" placeholder="RegExp" formControlName="regexp">
  </div>

  <!-- Checkbox -->
  <!-- <div class="field">
    <sui-checkbox>Mirrors value of 1st checkbox</sui-checkbox>
  </div> -->

  <!-- Submit -->
  <button class="ui button" type="submit" (click)="submit()">Submit</button>

  <p>Form value: {{ form.value | json }}</p>
  <p>Form status: {{ form.status | json }}</p>

</form>