@import '~styles/toolkit';

:host {
	display: block;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.routeSegments {
  margin-bottom: 0.25em;
}

.routeSegment {
  font-size: $font-size-sm;
  opacity: 0.6;
}

.routeSegment:hover {
  color: $color-anthrazit;
  cursor: pointer;
}

.activeRoute {
  font-size: $font-size-md;
  font-weight: bold;
}

.routeSegment:not(:last-child)::after {
	content: "/";
	margin: 0.5em;
}
