<div class="sw-content-top" fxLayout="row" fxLayoutAlign="space-between center">

		<button class="ui basic button edit">
			<i class="icon edit"></i>Subscribe
		</button>

		<button class="ui basic button edit">
			<i class="icon edit"></i>
			Edit
		</button>

	</div>

	<div class="segment">

		<table class="meta simple-table">
			<tr>
				<td>Related Component:</td>
				<td>
					<a href="#">Apache Component 123</a>
				</td>
			</tr>
			<tr>
				<td>Mainline State:</td>
				<td>Open</td>
			</tr>
			<tr fxHide.gt-md>
				<td>Version:</td>
				<td>3.12.3</td>
			</tr>
			<tr fxHide.gt-md>
				<td>Created on:</td>
				<td>2018-01-05</td>
			</tr>
			<tr fxHide.gt-md>
				<td>Release Type:</td>
				<td>Free Software</td>
			</tr>
			<tr fxHide.gt-md>
				<td>Clearing State:</td>
				<td>New</td>
			</tr>
			<tr>
				<td>Moderators:</td>
				<td>release.moderators</td>
			</tr>
		</table>

	</div>
