<div class="sw-content-top" fxLayout="row" fxLayoutAlign="space-between center">

			<button class="ui basic button edit">
				<i class="icon edit"></i>Subscribe
			</button>

			<button class="ui basic button edit">
				<i class="icon edit"></i>
				Edit
			</button>

		</div>

		<div fxLayout="row" fxLayoutGap="0.7em">
			<div fxFlex>
				<table class="ui celled striped table unstackable">
					<tr>
						<!-- fxHide.gt-md -->
						<td>ECC Status:</td>
						<td>New</td>
					</tr>
					<tr>
						<td>AL:</td>
						<td>No</td>
					</tr>
					<tr>
						<td>ECCN:</td>
						<td>No</td>
					</tr>
					<tr>
						<td>Material Index Number:</td>
						<td>No</td>
					</tr>
				</table>
			</div>
			<div fxFlex>
				<table class="ui celled striped table unstackable">
					<tr>
						<td>ECC Comment:</td>
						<td>No</td>
					</tr>
					<tr>
						<td>Assessor Contact Person:</td>
						<td>No</td>
					</tr>
					<tr>
						<td>Assessor Department:</td>
						<td>No</td>
					</tr>
					<tr>
						<td>Assessor Date:</td>
						<td>No</td>
					</tr>
				</table>
			</div>
		</div>
