<div fxLayout="row" fxLayoutAlign="space-between center">
	<div class="ui pagination menu">
		<a class="icon item" (click)="firstPage()" [ngClass]="{ disabled: pagination.currentPage === 1 }">
			First
		</a>
		<a class="icon item" (click)="previousPage()" [ngClass]="{ disabled: pagination.currentPage === 1 }">
			<i class="left chevron icon"></i>
		</a>
		<a class="item" *ngFor="let page of currentButtons" (click)="setPage(page)" [ngClass]="{ active: pagination.currentPage === page }">
			{{page}}</a>
		<a class="icon item" (click)="nextPage()" [ngClass]="{ disabled: pagination.currentPage === lastPage }">
			<i class="right chevron icon"></i>
		</a>
		<a class="icon item" (click)="goToLastPage()" [ngClass]="{ disabled: pagination.currentPage === lastPage }">
			Last
		</a>
	</div>
	<button class="ui green icon button" suiPopup popupHeader="Example" popupText="This is an example popup">
			<i class="add icon"></i>
		</button>
	<div>
		Elements per page:
	<div class="ui input">
		<input id="elementsPerPageInput" type="number" [(ngModel)]="elementsPerPage">
		<button class="ui button basic icon " (click)="setElementsPerPage()">
			<i class="refresh icon"></i>
		</button>
	</div>
</div>
</div>
