.main-content {
	max-width: $max-content-width;
	margin: 0 auto;
	padding: 1.25em 0;
}

.tab-navigation-wrapper {
	background: $topbar-color;
}

sw-tab-navigation {
	max-width: $max-content-width;
	margin: auto;
}

.row {
	margin-bottom: 1em;
}

.segment {
	width: 100%;
	border: 1px solid #DDD;
	padding: 1em 1em;
	border-radius: 5px;
	margin-bottom: $layout-gap;

}
