@import 'forms';
@import 'navigation';
@import 'overrides';

.row {
	margin-bottom: $layout-gap;
}

.segment {
	width: 100%;
	border: 1px solid #DDD;
	padding: 1em 1em;
	border-radius: 5px;
	margin-bottom: $layout-gap;
	position: relative;
}

.sw-content-top {
	margin-bottom: $layout-gap;
}

.sw-widget {
	margin-bottom: $layout-gap;
}

.table-action-bar {
	display: flex;
	margin-bottom: $layout-gap;
}

.table-action-bar sw-action-button {
	margin-left: $layout-gap;
}

sw-overview {
	padding-left: $layout-gap;
}
