@import 'forms';
@import 'navigation';

.row {
	margin-bottom: 0.75em;
}

.segment {
	width: 100%;
	border: 1px solid #DDD;
	padding: 1em 1em;
	border-radius: 5px;
	margin-bottom: $layout-gap;
	position: relative;

}

.table-action-bar {
	margin-bottom: 1em;
	display: flex;
}

.table-action-bar sw-action-button {
	margin-left: 0.5em;
}


// .table-action-bar sw-action-button:last-child {
// 	margin-right: 0em !important;
// }
