<!-- <div fxLayout="row" fxLayoutGap="1em">
  <sw-search-filter></sw-search-filter>
  <sw-action-buttons [hasAdd]="true" [hasEdit]="true" [hasRemove]="true" [hasFossology]="true" [hasClone]="true"></sw-action-buttons>
</div>

<table class="ui striped selectable celled table unstackable">
  <thead>
    <tr> -->

      <!-- DIFF -->
      <th>Name</th>
      <th>Version</th>
      <th>Clearing State</th>
      <!-- DIFF -->
<!--
      <th class="right aligned">
        <span class="table-selection-count-label">Selected:</span>
        <span class="table-selection-count">{{ selectedElementCount }}</span>
        <input type="checkbox" [(ngModel)]="areAllSelected" [checked]="areAllSelected" (click)="selectAll()">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let release of releases | async" class="row-hover"> -->

      <!-- DIFF -->
      <!-- <td class="cell-hover" (click)="go(release)">{{ release.name }} </td>
      <td class="cell-hover" (click)="go(release)">{{ release.version }}</td>
      <td class="cell-hover" (click)="go(release)">{{ release.clearingState }}</td> -->
      <!-- DIFF -->

      <!-- <td class="right aligned">
        <input type="checkbox" (click)=selectOne(release) [checked]="areAllSelected">
      </td>
    </tr>
  </tbody>

</table> -->

{{ data | async | json }}
