<h2 class="title" *ngIf="isFetching | async">IS FETCHING!!!!</h2>
<button class="ui button" (click)="getPosts()">Get posts</button>

<!-- Posts table -->
<table class="ui celled padded table" *ngIf="(posts | async).length > 0">
  
  <!-- Table headings -->
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>BODY</th>
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
    <tr *ngFor="let post of posts | async">
      <td class="single line">{{ post.id }}</td>
      <td>                    {{ post.title }}}</td>
      <td>                    {{ post.body }}</td>
    </tr>
  </tbody>

</table>

<new-post *ngIf="(posts | async).length > 0"></new-post>