<p>
  summary works!
</p>


    <!--<div class="ui card">
			<div class="content">
				<div class="header">
					<span>{{currentComponent.name }} </span>

				</div>

				<div class="meta">
					<span>Type:</span>
					<span>{{currentComponent.componentType}}</span>
					<br>
					<span > Vendors:</span>
					<span *ngFor="let vendor of currentComponent.vendors">{{vendor}}, </span>
				</div>
				<br>
				<div class="description">
					<span> Description:
						<br>{{currentComponent.description }} </span>
				</div>
			</div>
			<div class="extra content">
				<span class="date">Created by:&nbsp; {{currentComponent.createdBy.email }}</span>
				<br>
				<span class="date">Release Date:&nbsp; {{currentComponent.createdOn }}</span>
			</div>
		</div>
		<div class="ui card">
			<div class="header">Releases</div>
			<div class="description">
				<div *ngFor="let release of currentComponent.releases">
					<a href={{release.href}}>{{release.name}}</a>
				</div>
			</div>
		</div>
	</div>
	<sw-overview fxFlex="20%"></sw-overview>
</div>-->
