<ng-template #tableHeader>
  <th>Name</th>
  <th>Version</th>
  <th>Created On</th>
  <th>Clearing State</th>
  <th class="right aligned" sw-table-select (selectEvent)="selectAll()"></th>
</ng-template>

<ng-template #tableBody>
  <tr *ngFor="let release of releases | async" class="row-hover">
    <td (click)="go(release)">{{ release.name }} </td>
    <td (click)="go(release)">{{ release.version }}</td>
    <td (click)="go(release)">{{ release.createdOn }}</td>
    <td (click)="go(release)">{{ release.clearingState }} </td>
    <td class="right aligned" sw-table-select (selectEvent)="selectOne(release)"></td>
  </tr>
</ng-template>

<div fxLayout="row" fxLayoutGap="1em" [ngStyle]="{ 'margin-bottom': '1em' }">
  <sw-search-filter></sw-search-filter>
  <div>
    <sw-action-button [callback]="create" zero="true">
      <i class="icon add"></i><span>Create</span></sw-action-button>
    <sw-action-button [callback]="clone" one="true">
      <i class="icon add"></i><span>Clone</span>
    </sw-action-button>
    <sw-action-button [callback]="delete" many="true">
      <i class="icon add"></i><span>Delete</span>
    </sw-action-button>
  </div>
</div>

<sw-generic-table [tableHeader]="tableHeader" [tableBody]="tableBody"></sw-generic-table>