<ng-template #tableHeader>
  <th>Name</th>
  <th>Type</th>
  <th>Selflink</th>
  <th>Name</th>
  <th>Type</th>
  <th>Type</th>
  <th>Type</th>
  <th class="right aligned" sw-table-select (selectEvent)="selectAll()"></th>
</ng-template>

<ng-template #tableBody>
  <tr *ngFor="let component of components | async" class="row-hover">
    <td (click)="go(component)">{{ component.name }} </td>
    <td (click)="go(component)">{{ component.componentType }}</td>
    <td (click)="go(component)">{{ component._links?.self?.href }}</td>
    <td (click)="go(component)">{{ component.name }} </td>
    <td (click)="go(component)">{{ component.componentType }}</td>
    <td (click)="go(component)">{{ component.componentType }}</td>
    <td (click)="go(component)">{{ component.componentType }}</td>
    <td class="right aligned" sw-table-select (selectEvent)="selectOne(component)"></td>
  </tr>
</ng-template>

<div fxLayout="row" fxLayoutGap="1em" [ngStyle]="{ 'margin-bottom': '1em' }">
  <sw-search-filter></sw-search-filter>
  <div>
    <sw-action-button [callback]="randomAction" zero="true">
      <i class="icon add"></i><span>ZERO</span></sw-action-button>
    <sw-action-button [callback]="randomAction" one="true">
      <i class="icon add"></i><span>ONE</span>
    </sw-action-button>
    <sw-action-button [callback]="randomAction" many="true">
      <i class="icon add"></i><span>MANY</span>
    </sw-action-button>
  </div>
</div>

<sw-generic-table [tableHeader]="tableHeader" [tableBody]="tableBody"></sw-generic-table>