<!--
<ng2-smart-table (userRowSelect)="rowSelected($event)" [settings]="settings" [source]="components | async"></ng2-smart-table>
<button class="positive ui button active"><i class="file icon"></i>Add</button>
<button class="ui yellow button disabled"><i class="edit icon"></i>Edit</button>
<button class="negative ui button disabled"><i class="delete icon"></i>Delete</button>
{{ components | async | json }}
-->

<table class="ui striped table">
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Component Name</th>
      <th>Component Type</th>
      <th>Created On</th>
	  <th>Created By</th>
	  <th><div class="ui checkbox">
		<input type="checkbox" [(ngModel)] = "this.tableSelectService.allSelected" (change)="toggleAll()">
		<!--Should be empty, just shows that it works!-->
		<label>Select All {{this.tableSelectService.getCountOfSelectedElements()}}</label>
	  </div></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of components | async" >
      <td>{{ c.vendors }}</td>
      <td (click)="go(c)">{{ c.name }}</td>
      <td>{{ c.componentType }}</td>
      <td>{{ c.createdOn }}</td>
	  <td>{{ c.createdBy.email }}</td>
	  <td><div class="ui checkbox">
		<input type="checkbox" [(ngModel)] = "this.tableSelectService.getElementById(c).state">
		<!--Should be empty, just shows that it works!-->
		<label>{{this.tableSelectService.getElementById(c).state}}</label>
	  </div></td>
	</tr>
  </tbody>
</table>
