<div class="ui card">
	<div class="content">
		<a class="header color-blue">Apache Release</a>
		<a class="sub-header color-blue">Apache Component 123</a>
		<div class="meta">
			<div><span>Release Type:</span><span>Irgendwas</span></div>
			<div><span>Created by:</span><span><a href="#">Peter Parado</a></span></div>
			<div><span>Created on:</span><span>03. Sep 2014</span></div>
			<div><span>Clearing State:</span><span>Open</span></div>
		</div>
	</div>
	<div class="extra content link-list" fxLayout="row" fxLayoutAlign="space-between center">
		<a>
			<i class="html5 icon"></i>
			<span class="date">Web</span>
		</a>
		<a>
			<i class="wikipedia icon"></i>
			<span class="date">Wiki</span>
		</a>
		<a>
			<i class="github icon"></i>
			<span class="date">Repository</span>
		</a>
	</div>
</div>
