<div class="ui card">
	<div class="content">
		<a class="header color-blue">{{ component?.name }}</a>
		<div class="meta">
			<div><span>Component Type:</span><span>{{ component?.componentType }}</span></div>
			<div><span>Created by:</span><span><a href="#">{{ component?._embedded?.createdBy?.email }}</a></span></div>
			<div><span>Created on:</span><span>{{ component?.createdOn }}</span></div>
		</div>
	</div>
	<div class="extra content link-list" fxLayout="row" fxLayoutAlign="space-between center">
		<a>
			<i class="html5 icon"></i>
			<span class="date">Web</span>
		</a>
		<a>
			<i class="wikipedia icon"></i>
			<span class="date">Wiki</span>
		</a>
		<a>
			<i class="github icon"></i>
			<span class="date">Repository</span>
		</a>
	</div>
</div>
