<div class="wrapper">
	<div class="ui segment">
		<div class="heading">Description:</div>
		<div class="content">{{currentComponent.description}}</div>

		<div class="general">
			<div class="column" fxHide.gt-sm="true">
				<div class="item">
					<span class="heading">Created on:</span>
					<span class="content">{{currentComponent.createdOn}}</span>
				</div>
				<div class="item">
					<span class="heading">Created by:</span>
					<span class="content">{{currentComponent.createdBy.email}}</span>
				</div>
				<div class="item">
					<span class="heading">Component Type:</span>
					<span class="content">{{currentComponent.componentType}}</span>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<span class="heading">Categories:</span>
					<span class="content mock">Categorie1, Yolo2, Brief3</span>
				</div>
				<div class="item">
					<span class="heading">Mailing list:</span>
					<span class="content mock">Subscribe</span>
				</div>
			</div>
		</div>
	</div>

	<table class="ui table unstackable">
		<thead>
			<tr>
				<th colspan="2">Roles</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Component owner:</td>
				<td class="mock">peter@libera.de</td>
			</tr>
			<tr>
				<td>Owner accounting unit:</td>
				<td class="mock">peter@libera.de</td>
			</tr>
			<tr>
				<td>Owner billing group:</td>
				<td class="mock">peter@libera.de</td>
			</tr>
			<tr>
				<td>Moderators:</td>
				<td class="mock">peter@libera.de</td>
			</tr>
			<tr>
				<td>Subscribers:</td>
				<td class="mock">peter@libera.de</td>
			</tr>
			<tr>
				<td>Additional Roles:</td>
				<td class="mock">Guest, Admin</td>
			</tr>
		</tbody>
	</table>

	<table class="ui table unstackable">
		<thead>
			<tr>
				<th colspan="2">Release Aggregate Data</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Vendors:</td>
				<td>{{currentComponent.vendors}}</td>
			</tr>
			<tr>
				<td>Language</td>
				<td class="mock">German, English</td>
			</tr>
			<tr>
				<td>Operating Systems:</td>
				<td class="mock">Linux, Windows, Mac OS X</td>
			</tr>
			<tr>
				<td>Main Licenses:</td>
				<td class="mock">GPL</td>
			</tr>
		</tbody>
	</table>
	
</div>