<div class="wrapper">
	<table class="ui blue table">
		<thead>
			<tr>
				<th>General:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Created on:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Created by:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Categories:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Component Type:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Mailing list:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Roles</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Component owner:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Owner accounting unit:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Owner billing group:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Moderators:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Subscribers:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Additional Roles:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Release Aggregate Data</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Vendors:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Language</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Operating Systems:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Main Licenses:</td>
				<td>...</td>
			</tr>
			<tr>
				<td></td>
				<td>...</td>
			</tr>
			<tr>
				<td></td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Links:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Homepage:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Blog:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Wiki:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
</div>
