<div class="main-content">
  <div class="ui form">
    <form [formGroup]="projectForm" #formDir="ngForm">

      <div fxLayout="row" fxLayoutGap="1em">
        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Make my profile visible</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Binaries Self Made</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Component License information</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Source Code Delivery</label>
        </generic-form-element>
      </div>

      <div fxLayout="row" fxLayoutGap="1em">
        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Source Code Original from Community</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Source Code Tool Made</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Source Code Selfmade</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Screenshot of Website</label>
        </generic-form-element>
      </div>

      <div fxLayout="row" fxLayoutGap="1em">
        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Finalized License Scan Report</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Licencese Scan Report Result</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Legal Evaluation</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>License Agreement</label>
        </generic-form-element>
      </div>

      <div fxLayout="row" fxLayoutGap="1em">
        <generic-form-element marginBottom="0.5em">
          <input type="checkbox" name="example">
          <label>Component Clearing Report</label>
        </generic-form-element>

        <generic-form-element marginBottom="0.5em" label="Scanned">
          <input type="text">
        </generic-form-element>

      </div>

    </form>
  </div>
</div>