@import '~styles/toolkit';

:host {
  display: block;
  width: 100vw;
  min-height: 100vh;

  // font-size: 16px;

  @include display-grid;
  @include grid-template-columns(15em 1fr);
  @include grid-template-rows(5em 1fr 1.5em);

  // grid-gap: 0.5em;
}

brand {
  @include grid-column(1,2);
  @include grid-row(1,2);
}

top-navigation {
    @include grid-column(2,3);
    @include grid-row(1,2);
}

side-navigation {
    @include grid-column(1,2);
    @include grid-row(2,3);
}

.content {
  @include grid-column(2,3);
  @include grid-row(2,3);
}

.footer {
    @include grid-column(1,3);
    @include grid-row(3,4);
    background: #5f666b;
    color: white;
    font-size: 11px;
    padding: 2px 0 0 10px;
}

/* Browser Support */
@supports not (grid-gap: 0.5em) {
  .component {
      margin: 0.25em;
  }
}

/* Target IE10+ */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  :host {
      height: 100vh;
  }
  .component {
      margin: 0.25em;
  }
}