@import '~styles/toolkit';

:host {
	display: block;
	width: 100%;
}

.button {
	border-right: 1px solid #EEE;
}

.buttons .button {
	background-color: rgba($color-tab-navigation, 0.75);
}

.buttons .button:hover {
	background-color: $color-tab-navigation;
}

.buttons .button:focus {
	background-color: $color-tab-navigation;
}

