@import '~styles/toolkit';

:host {
	display: block;
	width: 100%;
	overflow: visible;
}

.menu {
	// border-bottom: 0 !important;
	padding-left: 4px;
}

.item.active {
	border-bottom: 3px solid $color-coolblue !important;
	// border-bottom: 0 !important;
}
