/* Colors */

$color-white: #FFF;
$color-light: #F8F8F8;
$color-fair: #888;
$color-dark: #222;

$color-anthrazit: #4b7283;

$color-cooldarkblue: #112f5d;
$color-coolblue: #4a99bb;

$color-orange: orange;
$color-red: red;
$color-green: rgb(13, 170, 13);;

/* Referrals */
$color-tab-navigation: $color-anthrazit;




