<!-- Releases  -->
<div class="ui card">
	<div class="extra content">
		<a class="color-blue">
			<i class="clone icon"></i>
			NUMBER OF RELEASES&nbsp;&nbsp;Releases
		</a>
	</div>
	<div class="content list">
		<table class="ui very basic table">
			<thead>
				<tr>
					<th>Name</th>
					<th class="right aligned">Version</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr *ngFor="let release of currentComponent.releases"> -->
				<tr>
					<td>
						<div class="name">RELEASE NAME</div>
						<!-- <div class="state orange">SENT TO FOSSOLOGY</div> -->
						<div class="state green">APPROVED</div>
					</td>
					<td>
						<div class="right aligned">RELEASE VERSION</div>
					</td>
				</tr>

				<tr class="last-item">
					<td colspan="3">
						<a class="load-more-dots coolblue">···</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>