.ui.card {
	width: 100%;
	margin-right: 0;
}

.content.list {
	padding: 0;
}

.content.list th {
	font-size: 1em;
}

.state {
	font-size: 1em;
	color: red;
}

.content.list td {
	padding: 0.5em 0.2em !important;
}

.content.list th:first-child,
.content.list td:first-child {
	padding-left: 1em !important;
}
.content.list td:last-child {
	padding-right: 1em !important;
}

.content.list th {
	padding: 0.5em 0.7em !important;
}

table .last-item * {
	padding: 0.2em 0.5em !important;
	cursor: pointer;
}

.state {
	font-size: 0.8em;
}

.orange {
	color: orange;
}

.green {
	color: rgb(13, 170, 13);
}

.card .load-more-dots {
	font-size: 2em;
	color: rgba(0,0,0,.4);
	text-align: center;
}

.card .load-more-dots:hover {
	font-size: 2em;
	color: #4183c4;
}
