<!-- Releases  -->
<div class="ui card">
    <div class="extra content">
      <a class="color-blue">
        <i class="clone icon"></i>
        17&nbsp;&nbsp;Releases
      </a>
    </div>
    <div class="content list">
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Version</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>commons-math-yolo-test blabalbalablabalbalal...</td>
            <td class="version">3.1.2</td>
            <td class="state">New</td>
          </tr>
          <tr class="last-item">
            <td colspan="3">
              <a class="load-more-dots">···</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>