<!-- Releases  -->
<div class="ui card">
    <div class="extra content">
      <a class="color-blue">
        <i class="clone icon"></i>
        17&nbsp;&nbsp;Releases
      </a>
    </div>
    <div class="content list">
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="right aligned">Version</th>
          </tr>
        </thead>
        <tbody>
		<tr>
			<td>
				<div class="name">commons-math-yolo-test</div>
				<div class="state orange">SENT TO FOSSOLOGY</div>
			</td>
			<td>
				<div class="right aligned">3.1.2</div>
			</td>
		</tr>
		<tr>
				<td>
					<div class="name">commons-math-yolo-behindi</div>
					<div class="state green">APPROVED</div>
				</td>
				<td>
					<div class="right aligned">3.0.1</div>
				</td>
			</tr>


          <tr class="last-item">
            <td colspan="3">
              <a class="load-more-dots">···</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--

		SENT_TO_FOSSOLOGY, UNDER_CLEARING, REPORT_AVAILABLE, APPROVED

  -->
