<div fxLayout="row" fxLayoutGap="1em">
  <sw-search-filter></sw-search-filter>
  <sw-action-buttons [hasAdd]="true" [hasEdit]="true" [hasRemove]="true" [hasFossology]="true" [hasClone]="true"></sw-action-buttons>
</div>

<table class="ui striped selectable celled table unstackable" sortable-table (sorted)="onSorted($event)">
  <thead>
    <tr>
      <th class="collapsing" sortable-column="name">
		Name</th>
      <th class="collapsing" sortable-column="version">
       Version</th>
      <!-- TODO: Different EmbeddedReleases??? See models.ts -->
      <th class="collapsing" >Clearing State</th>
      <th class="right aligned">
        <span class="table-selection-count-label">Selected:</span>
        <span class="table-selection-count">{{ count }}</span>
        <input type="checkbox" [(ngModel)]="areAllSelected" [checked]="areAllSelected" (click)="selectAll()">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let release of releases | async" class="row-hover">
      <td class="collapsing cell-hover" (click)="go(release)">{{ release.name }}</td>
      <td class="collapsing cell-hover" (click)="go(release)">{{ release.version }}</td>
      <td class="collapsing cell-hover" (click)="go(release)">{{ release.clearingState }}</td>
      <td class="right aligned">
        <input type="checkbox" (click)=selectOne(release) [checked]="areAllSelected">
      </td>
    </tr>
  </tbody>

  <!-- TODO: hardcoded length condition -->
  <tfoot *ngIf="(releases | async).length > 1">
    <tr>
      <th colspan="200">
        <div fxLayout="row">
          <div class="ui pagination menu">
            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>

</table>
