<!---General-->
<h3 class="ui block header">
  General
</h3>
<div *ngIf="employePopUp">
<sw-employe-list>

</sw-employe-list>
</div>
<div class="ui form">

  <form [formGroup]="projectForm" #formDir="ngForm">
    <div class="three fields">
      <div class="required field">
        <label>Name</label>
        <input type="text" placeholder="Enter Name" formControlName="name">

        <!-- Form Validation for Name-->
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui form error">
          <div *ngIf="name.errors.required" class="ui error message">
            Name is required.
          </div>
        </div>
      </div>

      <div class="field">
        <label>Created by</label>
        <input type="text" placeholder="Will be set automatically" disabled>
      </div>

      <div class="required field">
        <label>Categories</label>
        <input type="text" placeholder="eg., Library, cloud, mobile,..." formControlName="categories">

        <!-- Form Validation for Name-->
        <div *ngIf="categories.invalid && (categories.dirty || categories.touched)" class="ui form error">
          <div *ngIf="categories.errors.required" class="ui error message">
            Categorie is required.
          </div>
        </div>
      </div>
    </div>


    <div class="three fields">
      <div class="field">
        <label>ComponentType</label>
        <select class="ui fluid dropdown" formControlName="componentType">
          <option *ngFor="let componentType of componentTypes">{{componentType}}</option>
        </select>
      </div>
      <div class="field">
        <label>Homepage URL</label>
        <input type="text" placeholder="Enter Home Url" formControlName="homepageURL">

        <!-- Form Validation for homepageURL-->
        <div *ngIf="homepageURL.invalid && (homepageURL.dirty || homepageURL.touched)" class="ui form error">
          <div *ngIf="homepageURL.errors.pattern" class="ui error message">
            Must be a valid URL.
          </div>
        </div>

      </div>
      <div class="field">
        <label>Blog URL</label>
        <input type="text" placeholder="Enter Blog Url" formControlName="blogURL">

        <!-- Form Validation for blogURL-->
        <div *ngIf="blogURL.invalid && (blogURL.dirty || blogURL.touched)" class="ui form error">
          <div *ngIf="blogURL.errors.pattern" class="ui error message">
            Must be a valid URL.
          </div>
        </div>

      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Wiki URL</label>
        <input type="text" placeholder="Enter Wiki Url" formControlName="wikiURL">

        <!-- Form Validation for wikiURL-->
        <div *ngIf="wikiURL.invalid && (wikiURL.dirty || wikiURL.touched)" class="ui form error">
          <div *ngIf="wikiURL.errors.pattern" class="ui error message">
            Must be a valid URL.
          </div>
        </div>

      </div>
      <div class="field">
        <label>Mailing List URL</label>
        <input type="text" placeholder="Enter Mailing List Url" formControlName="mailingListURL">

        <!-- Form Validation for mailingListURL-->
        <div *ngIf="mailingListURL.invalid && (mailingListURL.dirty || mailingListURL.touched)" class="ui form error">
          <div *ngIf="mailingListURL.errors.pattern" class="ui error message">
            Must be a valid URL.
          </div>
        </div>
      </div>

    </div>
    <div class="field">
      <label>Short Description</label>
      <textarea type="text" placeholder="Enter Description" formControlName="shortDescription"> </textarea>
    </div>
  </form>
</div>


<!---Roles-->
<h3 class="ui block header">
  Roles
</h3>

<form [formGroup]="projectForm" #formDir="ngForm">
  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input type="text" placeholder="Click to edit" disabled>
      </div>
      <div class="field">
        <label>Owner Accounting Unit</label>
        <input type="text" placeholder="Will be set automatically" disabled>
      </div>
    </div>
  </div>

  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Owner Billing Group</label>
        <input type="text" placeholder="Enter Owner Billing Group" disabled>
      </div>
      <div class="field" (click)="employePopUp = !employePopUp">
        <label>Moderators</label>
        <input type="text" placeholder="Click to edit" disabled>
      </div>
    </div>
  </div>
</form>
<button class="ui button" type="submit" (click)="submit()" [disabled]="!projectForm.valid">Submit</button>
<button class="ui button" type="submit">Cancel</button>