<!---General-->
<h3 class="ui block header">
  General
</h3>

<div *ngIf="popUpService.componentOwnerPopUp || popUpService.moderatorPopUp">
  <sw-employe-list>

  </sw-employe-list>
</div>

<div class="ui form">

  <form [formGroup]="projectForm" #formDir="ngForm">
    <div class="three fields">

      <!-- Name -->
      <div class="field" [ngClass]="{'ui form error': !formValidationService.checkInvalidDirtyTouched(name)}">
        <label>Name</label>
        <input type="text" placeholder="eg., Library, cloud, mobile,..." formControlName="name">

        <div class="ui form error hidden errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(name)}">
          <div class="ui error message errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(name)}">
            Name is required.
          </div>
        </div>

      </div>

      <!-- Created by -->
      <div class="field">
        <label>Created by</label>
        <input type="text" placeholder="Will be set automatically" disabled>
      </div>


      <!-- Categorie -->
      <div class="field" [ngClass]="{'ui form error': !formValidationService.checkInvalidDirtyTouched(categories)}">
        <label>Categories</label>
        <input type="text" placeholder="eg., Library, cloud, mobile,..." formControlName="categories">

        <div class="ui form error hidden errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(categories)}">
          <div class="ui error message errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(categories)}">
            Category is required.
          </div>
        </div>

      </div>

    </div>

    <!-- ComponentType -->
    <div class="three fields">
      <div class="field">
        <label>ComponentType</label>
        <select class="ui fluid dropdown" formControlName="componentType">
          <option *ngFor="let componentType of componentTypes">{{componentType}}</option>
        </select>
      </div>

      <!-- Homepage URL -->
      <div class="field" [ngClass]="{'ui form error': !formValidationService.checkInvalidDirtyTouched(homepageURL)}">
        <label>Homepage URL</label>
        <input type="text" placeholder="Enter Home Url" formControlName="homepageURL">


        <div class="ui form error hidden errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(homepageURL)}">
          <div class="ui error message errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(homepageURL)}">
            Must be a valid URL.
          </div>
        </div>

      </div>

      <!-- Blog URL -->
      <div class="field" [ngClass]="{'ui form error': !formValidationService.checkInvalidDirtyTouched(blogURL)}">
        <label>Blog URL</label>
        <input type="text" placeholder="Enter Home Url" formControlName="blogURL">


        <div class="ui form error hidden errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(blogURL)}">
          <div class="ui error message errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(blogURL)}">
            Must be a valid URL.
          </div>
        </div>

      </div>

    </div>

    <div class="two fields">

      <!-- Wiki URL -->
      <div class="field" [ngClass]="{'ui form error': !formValidationService.checkInvalidDirtyTouched(wikiURL)}">
        <label>Wiki URL</label>
        <input type="text" placeholder="Enter Home Url" formControlName="wikiURL">


        <div class="ui form error hidden errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(wikiURL)}">
          <div class="ui error message errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(wikiURL)}">
            Must be a valid URL.
          </div>
        </div>

      </div>

      <!-- Mailing List URL -->
      <div class="field" [ngClass]="{'ui form error': !formValidationService.checkInvalidDirtyTouched(mailingListURL)}">
        <label>Mailing List URL</label>
        <input type="text" placeholder="Enter Home Url" formControlName="mailingListURL">


        <div class="ui form error hidden errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(mailingListURL)}">
          <div class="ui error message errorMessageSpace" [ngClass]="{'visible': !formValidationService.checkInvalidDirtyTouched(mailingListURL)}">
            Must be a valid URL.
          </div>
        </div>

      </div>

    </div>
    <div class="field">
      <label>Short Description</label>
      <textarea type="text" placeholder="Enter Description" formControlName="shortDescription"> </textarea>
    </div>
  </form>
</div>


<!---Roles-->
<h3 class="ui block header">
  Roles
</h3>

<form [formGroup]="projectForm" #formDir="ngForm">
  <div class="ui form">
    <div class="two fields">
      <div class="field" (click)="popUpService.componentOwnerPopUp = !popUpService.componentOwnerPopUp">
        <label>Component owner</label>
        <input type="text" placeholder="Click to edit" disabled>
      </div>
      <div class="field">
        <label>Owner Accounting Unit</label>
        <input type="text" placeholder="Will be set automatically" disabled>
      </div>
    </div>
  </div>

  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Owner Billing Group</label>
        <input type="text" placeholder="Enter Owner Billing Group" disabled>
      </div>
      <div class="field" (click)="popUpService.moderatorPopUp = !popUpService.moderatorPopUp">
        <label>Moderators</label>
        <input type="text" placeholder="Click to edit" disabled>
      </div>
    </div>
  </div>
</form>
<button class="ui button" type="submit" (click)="submit()" [disabled]="!projectForm.valid">Submit</button>
<button class="ui button" type="submit" (click)="popUpService.moderatorPopUp = !popUpService.moderatorPopUp">Cancel</button>