* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 font-size: $font-size-base;
}

@media (max-width: 1280px) {
	* {
		font-size: 0.95rem;
	}
}

@media (max-width: 960px) {
	* {
		font-size: 0.9rem;
	}
}


