@import '~styles/toolkit';

:host {
	display: block;
  background-color: $color-anthrazit;
  display: flex;
  align-items: center;
}

.active {
  background: $color-white;
}

.menu a {
	display: block;
	font-size: $font-size-base;
	color: $color-dark;
  padding: 1em;
  cursor: pointer;
}

.menu {
  display: flex;
}