@import '~styles/toolkit';

:host {
	display: block;
  background-color: $color-coolblue;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.menu a {
	display: block;
	font-size: $font-size-base;
	color: $color-white;
  // padding: 1em;
  margin: 1.5em;
  cursor: pointer;
  // background: yellow;
}

.menu {
  display: flex;
}

.active {
  font-weight: bold;
  color: $color-cooldarkblue !important;
}
