<table class="ui tiny striped selectable celled table unstackable">
  <thead>
    <tr>
      <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngTemplateOutlet="tableBody"></ng-container>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="100">
          <sw-pagination></sw-pagination>
      </th>
    </tr>
  </tfoot>
</table>

<!--
<div [ngStyle]="{ 'margin-top': '0.5em', 'margin-left': '0.2em' }">
  <span class="selected-elements-count-label">Selected:</span>
  <span class="selected-elements-count">{{ selectedElementsCount | async }}</span>
</div>
-->