@import '~styles/toolkit';

:host {
	display: flex;
	flex-direction: column;
}

.top {
	width: 100%;
	margin-bottom: $layout-gap;
}

.link-list {
	float: right;
}

.link-list a {
	margin-left: 1em;
}

.table {
	width: 50%;
	float: left;
}

.table:first-of-type {
	width: calc(50% - #{$layout-gap});
	margin-right: $layout-gap;
}

.table-heading {
	width: 100%;
}

.table.roles td:first-of-type {
	min-width: 12em;
}

.mock {
	// color: rgb(194, 0, 0);
}


