:host {
	display: flex;
	flex-direction: column;
}

sw-action-buttons {
	float: right;
}


.top button {
	background-color: white;
	border: 1px solid #DDD;
}

.top {
	width: 100%;
	margin-bottom: 0.7em;
}


.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.general {
	border: 1px solid #DDD;
	padding: 1em 1em;
	border-radius: 5px;
}

.item {
	margin-bottom: 0.5em;
}

.heading {
	margin-right: 0.5em;
}

.link-list {
	float: right;
}

.link-list a {
	margin-left: 1em;
}

.table {
	width: 50%;
}

.table:first-of-type {
	width: calc(50% - 1em);
	margin-right: 1em;
}

.table-heading {
	width: 100%;
}

.table.roles td:first-of-type {
	min-width: 12em;
}

.heading {
	font-weight: bold;
	margin-bottom: 0.4em;
}

.ui.table {
	margin-top: 0.75em;
}

.mock {
	// color: rgb(194, 0, 0);
}


