<div class="wrapper">
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Release Aggregate Data</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Vendors:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Language</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Operating Systems:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Main Licenses:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Roles</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Vendors:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Language</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Operating Systems:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Main Licenses:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Release Aggregate Data</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Vendors:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Language</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Operating Systems:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Main Licenses:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<table class="ui blue table">
		<thead>
			<tr>
				<th>Roles</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Vendors:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Language</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Operating Systems:</td>
				<td>...</td>
			</tr>
			<tr>
				<td>Main Licenses:</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
</div>
