.ui.table {
	margin: 0;
}

.simple-table td:first-of-type {
	font-weight: bold;
}

.simple-table td {
	padding: 0 1em 0.5em 0;
}

.table {
	word-break: break-word;
}

.table-heading {
	width: 100%;
}

#elementsPerPageInput {
	width: 5em;
}
.paginationLabel{
	color: rgba(0,0,0,.4);
	margin: 1em;
}
