@import '~styles/toolkit';

:host {
	display: block;
	width: 100%;
	display: flex;
	justify-content: flex-start;
  align-items: flex-end;
  // background: red;
  height: 1em;
}

.routeSegment {
  font-size: $font-size-sm + 0.1em;
  opacity: 0.6;
}

.routeSegment:hover {
  color: $color-coolblue;
  cursor: pointer;
}

.activeRoute {
  font-size: $font-size-md;
  font-weight: bold;
}

.routeSegment:not(:last-child)::after {
	content: "/";
	margin: 0.5em;
}
